<% include ../partials/header %>
    <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                     <div class="list-group ">
                      <a href="/users/<%=currentUser._id%>" class="list-group-item list-group-item-action">Dashboard</a>
                      <% if(currentUser.isAdmin){ %>
                        <a href="/users/a25d3m69in/policies" class="list-group-item list-group-item-action">Policies</a>
                      <%} else{%>
                        <a href="/users/<%=foundUser._id%>/policies" class="list-group-item list-group-item-action">Policies</a>
                      <%}%>
                      <!-- <a href="users/<%=foundUser._id%>/policies" class="list-group-item list-group-item-action">Policies</a> -->
                      <a href="/admin/verified" class="list-group-item list-group-item-action active">Verified Users</a>
                      <a href="/admin/unverified" class="list-group-item list-group-item-action">Unverified Users</a>
                      <a href="/users/<%=currentUser._id%>/edit" class="list-group-item list-group-item-action">Edit Profile</a>
                      
                    </div> 
                </div>
                <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                    <div class="col-md-2">
                                                        <th scope="col">#</th>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <th scope="col">Name</th>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <th scope="col">Type</th>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <th scope="col">Details</th>
                                                    </div>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0;i<foundUser.length; i++){ %>
                                                        <tr>
                                                            <th scope="row"><%=i+1%></th>
                                                            <td><%=foundUser[i].username%></td>
                                                            <td>Verified</td>
                                                            <td><a href="/users/<%=foundUser[i]._id%>" class="btn btn-danger" role="button">Details</a></td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                              </table>
                                </div>
                            </div>
                        </div>        
                </div>
            </div>
    </div>


<%include ../partials/footer %>