<% include partials/header %>

<div class="container">
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <%policies.forEach((result)=> {%>
          <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="card" style="max-width: 22rem;" style="max-height: 36rem;">
            <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><%= result.type %></h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title"><%= result.name %></h2>
                <p class="card-text"><%= result.number %></p>
                <a href="/policy/<%= result._id %>" class="btn btn-lg btn-block btn-outline-primary"0>More Info</a>
                
            </div>
            <div class="card-footer text-muted">
                    <%= result.created %>
            </div>
          </div>
          </div>
          <% }); %>
     </div>

</div>

<%include partials/footer %>