<% include ../partials/header %>
    <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                     <div class="list-group ">
                      <a href="/users/<%=currentUser._id%>" class="list-group-item list-group-item-action">Dashboard</a>
                      <a href="#" class="list-group-item list-group-item-action">Policies</a>
                      <a href="/users/<%=currentUser._id%>/edit" class="list-group-item list-group-item-action">Edit Profile</a>
                      <a href="/users/<%=currentUser._id%>/payementdetails" class="list-group-item list-group-item-action active">Payement details</a>
                      
                    </div> 
                </div>
                <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                    <div class="col-md-2">
                                                        <th scope="col">#</th>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <th scope="col">Card No</th>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <th scope="col">Card Name</th>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <th scope="col">Amount</th>
                                                    </div>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0;i<foundPayement.length; i++){ %>
                                                        <tr>
                                                            <th scope="row"><%=i+1%></th>
                                                            <td><%=foundPayement[i].cardNo%></td>
                                                            <td><%=foundPayement[i].holderName%></td>
                                                            <td><%=foundPayement[i].amount%></td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                              </table>
                                </div>
                            </div>
                        </div>        
                </div>
            </div>
    </div>


<%include ../partials/footer %>