<% include ../partials/header %>
<% if(foundUser){ %>
    <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                  <% if(currentUser&&currentUser.isAdmin){ %>
                    <div class="list-group ">
                        <a href="/users/<%=currentUser._id%>" class="list-group-item list-group-item-action active">Dashboard</a>
                        <% if(currentUser.isAdmin){ %>
                          <a href="/users/a25d3m69in/policies" class="list-group-item list-group-item-action">Policies</a>
                        <%} else{%>
                          <a href="/users/<%=foundUser._id%>/policies" class="list-group-item list-group-item-action">Policies</a>
                        <%}%>
                        <a href="/admin/verified" class="list-group-item list-group-item-action">Verified Users</a>
                        <a href="/admin/unverified" class="list-group-item list-group-item-action">Unverified Users</a>
                        <a href="/users/<%=currentUser._id%>/edit" class="list-group-item list-group-item-action">Edit Profile</a>
                        
                    </div>
                  <% } else { %>
                    <div class="list-group ">
                        <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                        <a href="/users/<%=foundUser._id%>/policies" class="list-group-item list-group-item-action">Policies</a>
                        <a href="/users/<%= foundUser._id%>/edit" class="list-group-item list-group-item-action">Edit Profile</a>
                        <a href="/users/<%=currentUser._id%>/payementdetails" class="list-group-item list-group-item-action">Payement details</a>
                        
                        
                      </div>

                  <% } %>
                      
                </div>
                <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Your Profile</h4>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>
                                          <div class="form-group row">
                                            <label for="username" class="col-4 col-form-label">User Name</label> 
                                            <div class="col-8">
                                              <input id="username" id="disabledInput" value="<%=foundUser.username%>" class="form-control here" type="text" disabled>
                                            </div>
                                          </div>
                                          <div class="form-group row">
                                            <label for="name" class="col-4 col-form-label">First Name</label> 
                                            <div class="col-8">
                                              <input id="name" placeholder="First Name" class="form-control here" type="text" value="<%=foundUser.firstname%>" disabled>
                                            </div>
                                          </div>
                                          <div class="form-group row">
                                                <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                                                <div class="col-8">
                                                  <input id="lastname" name="lastname" value="<%=foundUser.lastname%>" class="form-control here" type="text" disabled>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="text" class="col-4 col-form-label">Address</label> 
                                                <div class="col-8">
                                                  <input id="text" name="text" value="<%=foundUser.address%>" class="form-control here" required="required" type="text" disabled>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="select" class="col-4 col-form-label">City</label> 
                                                <div class="col-8">
                                                        <input id="text" name="text" value="<%=foundUser.city%>" class="form-control here" required="required" type="text" disabled>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <label for="email" class="col-4 col-form-label">Pincode</label> 
                                                <div class="col-8">
                                                  <input id="number" value="<%=foundUser.pinCode%>" class="form-control here" required="required" type="text" disabled>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                    <label for="website" class="col-4 col-form-label">Email</label> 
                                                    <div class="col-8">
                                                      <input id="website" value="<%=foundUser.emailAddress%>" class="form-control here" type="text" disabled>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                    <label for="publicinfo" class="col-4 col-form-label">Phone number</label> 
                                                    <div class="col-8">
                                                        <input id="number" value="<%=foundUser.mobileNo%>" class="form-control here" type="text" disabled>
                                                    </div>
                                                  </div>
                                                  <div class="form-group row">
                                                        <label for="publicinfo" class="col-4 col-form-label">Alternate Phone number</label> 
                                                        <div class="col-8">
                                                            <input id="number" value="<%=foundUser.alternateMobileNo%>" class="form-control here" type="text" disabled>
                                                        </div>
                                                      </div> 
                                                  <div class="form-group row">
                                                    <%if(currentUser&&currentUser.isAdmin){ %>
                                                      <div class="offset-4 col-8">
                                                        <a href="/users/<%= foundUser._id%>/edit" class="btn btn-warning">VerifyUser</a>
                                                      </div>
                                                    <%}%>                                                  
                                                  </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<% } %>


<%include ../partials/footer %>