<% include ../partials/header %>
    <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                     <div class="list-group ">
                      <a href="/users/<%=currentUser._id%>" class="list-group-item list-group-item-action">Dashboard</a>
                      <a href="#" class="list-group-item list-group-item-action active">Policies</a>
                      <a href="/users/<%=currentUser._id%>/edit" class="list-group-item list-group-item-action">Edit Profile</a>
                      
                      
                    </div> 
                </div>
                <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12">
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                    <div class="col-md-2">
                                                        <th scope="col">#</th>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <th scope="col">Name</th>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <th scope="col">details</th>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <th scope="col">Withdraw</th>
                                                    </div>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0;i<userPolicy.length; i++){ %>
                                                        <tr>
                                                            <th scope="row"><%=i+1%></th>
                                                            <td><%=userPolicy[i].name%></td>
                                                            <td><a href="/policy/<%=userPolicy[i]._id%>" class="btn btn-primary" role="button">Details</a></td>
                                                            <td><a href="/users/<%=userPolicy[i]._id%>/delete" class="btn btn-danger" role="button">Withdraw</a></td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                              </table>
                                </div>
                            </div>
                        </div>        
                </div>
            </div>
    </div>


<%include ../partials/footer %>